# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEA
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env*

# npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# parcel
/.cache

