---
---
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>NEAR DEVNET WALLET</title>

   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <link rel="stylesheet" href="https://use.typekit.net/pqx2pko.css">
   <link rel="stylesheet" href="{{ site.baseurl }}/assets/index.css">

   <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/assets/img/favicon.ico' />

</head>

<body style=>
   <script src="{{ site.near.nearlib_url }}"></script>

   {% include navtop.html %}

   <div class="container" style="min-height: 100%;">
      <div class="row">
         <div class="col">
            <h1>
               Account: <span class="account-id"></span>
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <h2>
               account id: <span class="account-id"></span>
            </h2>
            <h2>
               amount: <span class="account-amount"></span>
            </h2>
            <h2>
               stake: <span class="account-stake"></span>
            </h2>
            <h2>
               nonce: <span class="account-nonce"></span>
            </h2>
            <h2>
               code hash: <span class="account-code_hash"></span>
            </h2>
         </div>
      </div>
      <div class="row" style="margin: 40px 0 0 0;">
         <div class="col">
            <button type="submit" class="create-account" id="create-account-button">
               CREATE NEW ACCOUNT
            </button>
         </div>
      </div>
   </div>


   {% include footer.html %}




   

   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
   <!-- Include all compiled plugins (below), or include individual files as needed -->

   <script src="{{ site.baseurl }}/assets/js/wallet.js"></script>

   <script>
      let wallet = new Wallet();
      wallet.redirect_if_empty();

      let account_id = wallet.get_account_id();
      let is_legit = false;
      let receiver_id = "";
      let method_name = "";
      let amount = 0;
      let args = {};
      let your_account = {};
      let your_amount = 0;

      let accounts = wallet.accounts;
      let acc_cnt = 0;
      let opt = $('.switch-account').find('.opt').parent().html();

      for (u in accounts) {
         if (acc_cnt) {
            $('.switch-account').append(opt);
            $('.switch-account').find('.opt:last').addClass('border-a')
         }
         $('.switch-account').find('.opt:last').find('.ammount').text('');
         $('.switch-account').find('.opt:last').find('.username').text(u);
         $('.switch-account').find('.opt:last').attr('data-account-id', u);
         acc_cnt++;
      }
      if (acc_cnt === 1) {
         $('.one-account').hide();
      }


      $('#form-tx .form-input').on("input", function () {
         receiver_id = $('#form-account-id').val();
         is_legit = wallet.is_legit_account_id(receiver_id);
         method_name = $('#form-method-name').val();
         amount = parseInt($('#form-amount').val());
         is_legit = is_legit && ((amount > 0 || (amount == 0 && method_name.length > 0)) && amount <= your_amount);
         let val = $('#form-args').val() || "{}";
         try {
            args = JSON.parse(val);
         } catch (e) {
            is_legit = false;
         }
         $('#submit-tx-button').attr('disabled', !is_legit);
      });

      $('#submit-tx-button').click(function (e) {
         $('#error-message-div').addClass('hidden');
         $('#success-message-div').addClass('hidden');
         e.preventDefault();
         if (!is_legit) {
            return false;
         }
         $('#loading-spinner').removeClass('hidden');
         $('#submit-tx-button').attr('disabled', true);
         wallet.send_transaction(account_id, receiver_id, method_name, amount, args)
            .then((d) => {
               console.log(d);
               $('#tx-id').text(JSON.stringify(d));
               $('#success-message-div').removeClass('hidden');
               $('#form-amount').val(0);
               refresh_account();
            })
            .catch((e) => {
               console.log(e);
               $('#error-message').text(e);
               $('#error-message-div').removeClass('hidden');
            }).finally(() => {
               $('#submit-tx-button').attr('disabled', false);
               $('#loading-spinner').addClass('hidden');
            });
      })


      $('.account-selector').click(function () {
         $('.account-selector[data-account-id="' + account_id + '"').removeClass('hidden');
         account_id = $(this).data('account-id');
         wallet.select_account(account_id);
         refresh_account();
      });

      $('#create-account-button').click(wallet.redirect_to_create_account);

      function refresh_account() {
         // $('#acc_details').html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">');
         $('.account-selector[data-account-id="' + account_id + '"]').addClass('hidden');
         $('#account-id').text(account_id);
         $('.account-id').text(account_id);

         wallet.load_account(account_id)
            .then(function (v) {
               $('.account-amount').text(v['amount']);
               $('.account-stake').text(v['stake']);
               $('.account-nonce').text(v['nonce']);
               $('.account-code_hash').text(v['code_hash']);
            })
            .catch(function (e) {
               console.log(e);
               // $('#acc_details').text("Failed to load. " + e);
            });
      }
      refresh_account();
   </script>
</body>

</html>