$loader-color:              #0071CD !default;
$loader-size:                  40px !default;
$loader-height:                20px !default;
$loader-border-size:            5px !default;
$loader-gap:                   12px !default;
$loader-animation-duration:      1s !default;
