---
---
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>NEAR DEVNET WALLET</title>

   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

   <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.3.1/dist/jquery.min.js"></script>

   <link rel="stylesheet" href="https://use.typekit.net/pqx2pko.css">
   <link rel="stylesheet" href="{{ site.baseurl }}/assets/index.css">

   <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/assets/img/favicon.ico' />

</head>

<body>
   <script src="{{ site.near.nearlib_url }}"></script>

   {% include navtop.html %}

   <div class="container">
      <div class="row">
         <div class="col">
            <h1>
               Create Account
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="col col-lg-6">
            <h2>
               Creating an account is easy. Just choose a&nbsp;username and you’re ready to go.
            </h2>
         </div>
      </div>
      <div class="row" style="padding: 38px 0 10px 0;">
         <div class="col">
            <h3>
               Choose a Username
            </h3>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <div class="row">
               <div class="col col-12 col-lg-6 col-md-12">
                  <from class="form">
                     <input type="text" id="form-account-id" placeholder="example: satoshi.near" class="username"
                        aria-describedby="account-help-block">
                     <div class="error-message-x-rwd">
                        <div id="error-message-div-rwd" class="info info-error hidden">
                           <span class='error-message'></span>
                        </div>
                        <div id="success-message-div-rwd" class="info info-success hidden">
                           Congrats! this name is available.
                        </div>
                     </div>
                     <button type="submit" class="create-account" disabled id="submit-button">
                        CREATE ACCOUNT
                     </button>
                  </from>
               </div>
               <div class="col col-lg-6 col-md-12 note-div">
                  <div class="error-message-x">
                     <div id="error-message-div" class="info info-error hidden">
                        <span class='error-message'></span>
                     </div>
                     <div id="success-message-div" class="info info-success hidden">
                        Congrats! this name is available.
                     </div>
                  </div>
                  <div id="account-help-block" class="note note-f">
                     <span class="note-b">
                        NOTE
                     </span>
                     <br>
                     <span class="note-m">
                        Your username can be 5-32 characters
                        <br>
                        long and contain any of the following:
                     </span>
                     <span class="note-l">
                        • Lowercase characters (a-z)
                        <br>
                        • Digits (0-9)
                        <br>
                        • Special characters (@._-)
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col note-f disclaimer">
            <span class="note-b">
               DISCLAIMER:
            </span>
            This is a developers&apos; preview Wallet. It should be used for NEAR Protocol DevNet only. Learn more at
            <a href="">
               nearprotocol.com
            </a>
         </div>
      </div>
   </div>

   {% include footer.html %}




   <script type="text/javascript" src="{{ site.baseurl }}/assets/js/url.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->

   <script src="{{ site.baseurl }}/assets/js/wallet.js"></script>

   <script>
      let wallet = new Wallet();
      let is_legit = false;
      let account_id = "";

      $('#dropdown').hide();

      // optional messages
      if ($.url('?reset_accounts')) {
         $("#extra-text-delete-storage").removeClass("collapse");
      }

      $('#form-account-id').on("input", function () {
         account_id = $(this).val();
         is_legit = wallet.is_legit_account_id(account_id);
         $('#submit-button').attr('disabled', !is_legit);
      });

      $('#submit-button').click(function (e) {
         $('#error-message-div').addClass('hidden');
         $('#error-message-div-rwd').addClass('hidden');
         $('#form-account-id').removeClass('error');

         e.preventDefault();
         if (!is_legit) {
            return false;
         }
         // $('#loading-spinner').removeClass('hidden');
         $('#submit-button').attr('disabled', true);

         // TODO: The account is not taken

         wallet.create_new_account(account_id)
            .then((d) => {
               $('#success-message-div').removeClass('hidden');

               $('#form-account-id').addClass('success');

               setTimeout(() => {
                  window.location.replace($.url('?next_url'));
               }, 1500);
            })
            .catch((e) => {
               console.log(e);
               $('.error-message').text(e);
               $('#error-message-div').removeClass('hidden');
               $('#error-message-div-rwd').removeClass('hidden');

               $('#form-account-id').addClass('error');

               $('#submit-button').attr('disabled', true);
            })
      })
   </script>
</body>

</html>