@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('./fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url('./fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url('./fonts/Inter-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('./fonts/Inter-Bold.otf') format('opentype');
}

@font-face {
    font-family: Inter;
    font-weight: 800;
    src: url('./fonts/Inter-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: Inter;
    font-weight: 900;
    src: url('./fonts/Inter-Black.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

