name: PR Preview

on:
  pull_request:

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  testnet-bundle-preview:
    uses: ./.github/workflows/bundle-and-deploy.yml
    with:
      environment: testnet
      near_wallet_env: testnet_STAGING
    secrets: inherit

  mainnet-bundle-preview:
    uses: ./.github/workflows/bundle-and-deploy.yml
    with:
      environment: mainnet
      near_wallet_env: mainnet_STAGING
    secrets: inherit
